.bordersection {
    border-top: 1px solid #b02826;
}
.breadcrunb_categ_name{
    /*margin-left: 4% !important;*/
}

.breadcrunb_new_prod_name{
    font-size: 18px !important;
}
a.devis_destination_phone{
    color: #97B5AA !important;
    background-color: #2A5A3B;
    border: 1px solid #2A5A3B;
    top: 57%;
    position: fixed;
    right: 0%;
    z-index: 1000;
    padding: 0.5%;
    text-align: center;
    width: 8%;
    font-weight: bold;
}
a.devis_destination {
    /*color: #fff;
    background-color: #b0281d;*/
    color: #97B5AA !important;
    background-color: #2A5A3B;
    border: 1px solid #2A5A3B;
    top: 50%;
    position: fixed;
    right: 0%;
    z-index: 1000;
    padding: 0.5%;
    text-align: center;
    font-weight: bold;
    width: 8%;
}

div.product_demande_scroll {
    /*color: #fff;
    background-color: #b0281d;*/
    color: green;
    background-color: #2A5A3B;
    border: 1px solid #2A5A3B;
    top: 57%;
    position: fixed;
    right: 0%;
    z-index: 1000;
    padding: 0.5%;
    text-align: center;
    /*font-size: larger;*/
    font-weight: bold;
    width: 8%;
}


div.product_demande_scroll_devis {
    /*color: #fff;
    background-color: #b0281d;*/
    color: green;
    background-color: #2A5A3B;
    border: 1px solid #2A5A3B;
    top: 50%;
    position: fixed;
    right: 0%;
    z-index: 1000;
    padding: 0.5%;
    text-align: center;
    /*font-size: larger;*/
    font-weight: bold;
    width: 8%;
}


.no-padding {
    padding: 0 !important;
}

.destination_product_card {
    margin: 15px auto 0;
}

.item_dest {
     border-bottom: 0px solid #fff;
     position: relative;
     color: #ffffff !important;
}
.item_dest:hover {
     background: inherit;
     border-bottom: 0px solid #e70000;
}
.item_dest p {
    color: #ffffff !important;
}
.item_dest .itemdefault_categ_product{
    background:#fff;
    position: relative;
}

.item_dest .itemdefault_categ_product img{
    padding: 0;
    border:0;
    border-radius:0;
    width:100%;
    height:310px;
    object-fit: cover;
}

.itemdefault_categ_product_desc{
    height: 70px;
    background: rgb(56, 131, 85, 0.8);
    overflow: hidden;
    position: absolute;
    bottom:0;
    width:100%;
    -webkit-transition: ease-in-out .40s, -webkit-box-shadow ease-in-out .40s;
    -o-transition:  ease-in-out .40s, box-shadow ease-in-out .40s;
    transition:  ease-in-out .40s, box-shadow ease-in-out .40s;
    color:#fff;
    -webkit-box-shadow: 1px 6px 10px 1px rgba(0,0,0,0.1);
    box-shadow: 1px 6px 10px 1px rgba(0,0,0,0.1);
}

.itemdefault_categ_product_desc h3 {
    color: #fff !important;
    font-size: 22px !important;
}

.item_dest:hover .itemdefault_categ_product_desc{
    height: 310px;
    -webkit-transition: ease-in-out .40s, -webkit-box-shadow ease-in-out .40s;
    -o-transition:  ease-in-out .40s, box-shadow ease-in-out .40s;
    transition:  ease-in-out .40s, box-shadow ease-in-out .40s;
}

.item_dest .itemdefault_categ_product:hover h3, .item_dest .itemdefault_categ_product:hover p{color:#fff;}

.itemdefault .descitem_une{
    height: 63px;
    background: rgba(36,124,175,0.8);
    overflow: hidden; position:absolute;
    bottom: -6px;
    margin-left: 1% !important;
    width: 98% !important;
    -webkit-transition: ease-in-out .40s, -webkit-box-shadow ease-in-out .40s;
    -o-transition:  ease-in-out .40s, box-shadow ease-in-out .40s;
    transition:  ease-in-out .40s, box-shadow ease-in-out .40s;
    color:#fff;
    -webkit-box-shadow: 1px 6px 10px 1px rgba(0,0,0,0.1);
    box-shadow: 1px 6px 10px 1px rgba(0,0,0,0.1);
}

.itemdefault:hover .descitem_une{
    height:160px;
    -webkit-transition: ease-in-out .40s, -webkit-box-shadow ease-in-out .40s;
    -o-transition:  ease-in-out .40s, box-shadow ease-in-out .40s;
    transition:  ease-in-out .40s, box-shadow ease-in-out .40s;
}

#new_product_parcourse_accordion h3 {font-weight:bold;}
.ui-datepicker{background:#fff; width:19%;}
.contenttabs {font-size :13px; margin-bottom:20px;}
.contenttabs h3{font-size:17px; margin-top:0; padding: 8px 5px 5px 1px;}
.contenttabs h3.leftprice{font-size:17px; margin-top:0;}
.contenttabs h3.top0{ margin-top : 0; padding-top:0}
.contenttabs ul{margin-left:0px;}
.contenttabs p{margin: 0 0px 10px !important; text-align:justify !important;}
/*.contenttabs a{text-decoration:underline;}*/
.contenttabs #product_web_program a{color:blue;}
.contenttabs a.more {text-decoration:underline; color:#333; text-decoration:none;}
.contenttabs a.more.backred {background:#b02826; color:white; border:0px; }
.contenttabs a.buttonPdf span {font-size: 12px;}
.contenttabs a.buttonPdf:hover { background:#edeae7 url('../image/icon_pdf.png') no-repeat scroll 17px center  ;}
.contenttabs a.buttonPdf {color:#000; padding: 5px 10px; background:white url('../image/icon_pdf.png') no-repeat scroll 17px center  ; text-decoration:none; padding-left: 70px;display: block; line-height: 1;}   /*.tabs .menu li a:hover,.tabs .menu li a.active{ font-weight:bold }*/



a.buttonPdf {padding:15px;}
a.buttonPdf:hover {background: #edeae7}
a.buttonPdf > b {
font-size: 16px;
}
#product_hebergement h3{
font-weight: bold !important;
font-size:17px !important;
}
a.buttonPdf > span {
display: block;
margin-top: 3px;
font-size: 14px !important;
}


.article_survey_hidden {
  display: none;
}


.article .text.short {
    /*overflow: hidden;*/
    text-align: justify !important;
}
.article .text.full {
    display: none;
    text-align: justify !important;
}

.video_width_style {
    width: 96%;
    height: 300px;
}

#categ_web_info_full > h2 {
      margin-bottom: 5px !important;
      margin-top: 0px !important;
      padding-top: 5px !important;
      font-weight: bold !important;
      text-transform: uppercase;
}

#categ_web_info_full > h3 {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    padding-top: 5px !important;
    font-weight: 100 !important;
    font-size: 20px !important;
    text-transform: capitalize;
}

#categ_web_info_short > h2 {
      margin-bottom: 5px !important;
      margin-top: 0px !important;
      padding-top: 5px !important;
      font-weight: bold !important;
      font-size: 20px !important;
      text-transform: uppercase;
}

#categ_web_info_short > h3 {
      margin-bottom: 5px !important;
      margin-top: 0px !important;
      padding-top: 5px !important;
      font-weight: 100 !important;
      font-size: 20px !important;
      text-transform: capitalize;
}



.marge {
    padding: 0 10px;
}

.plus {
    background-color: #007bab;
    padding: 10px;
    color: #fff;
}

/***  Plus produit encadrÃ©s **/
.plus_produit {
    /*border: 2px #388343 solid;*/
    margin: 0 0 10px 0;
    padding: 0px 0px 15px 0px;
}
.product_corse_box {
    width: 32.5%;
    min-height: 110px;
    padding-top: 5px;
    float: left;
    border: 1px solid black;
    background-color: white;
    margin-right: 1%;
    line-height: 1.2em;
    margin-bottom: 1%;
}

.product_corse_box_3 {
    width: 33%;
    min-height: 110px;
    float: left;
    border: 1px solid black;
    background-color: white;
    line-height: 1.2em;
    margin-bottom: 2%;
}



.tz-gallery {
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

/* 18-07-2022 */

#new_product_parcourse_accordion h4 {
    background-color: #388343;
    color: #fff;
    padding-left: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
}

/* Produits */
#accordion {margin-bottom: 1.5em;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active , .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {background: transparent; border: 0; border-bottom: 1px solid #000; color:#000; border-bottom-right-radius : 0; border-bottom-left-radius :0; }
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {right:.5em; left:inherit;}
.ui-accordion .ui-accordion-icons {padding:1em; padding-left: 0px; padding-right: 0px}
i-accordion .ui-accordion-icons {padding:1em; padding-left: 0px; padding-right: 0px}


#inscription_sec h4{
    text-transform: none;
    font-size: 14px !important;
    margin: 0 !important;
    /*margin-bottom: 10px !important;*/
    font-weight: 500 !important;
    line-height: 14.4px !important;
    color: #1a2d3e !important;
}

#accordion h4 {
    background-color: #007bab;
    color: #fff;
    padding-left: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.ui-widget-header{
background: #388343;
}

/*2022-07-25*/

.post-img {
  width: 100%;
  height: 450px;
  /*background: black;*/
  position: relative;
}

.bgdemandedevis{
    background:url(../ftp-img/bandeaux/photoupdevis.jpg) center transparent;
    height:450px;
}

a, a:hover, a:active, a:focus {
    color: #464646;
    text-decoration: none;
    outline: none;
}

div.call-to-action {
    text-align: center;
    color: #388343;
    margin-top: 20px;
    display: block;
    /*padding-left: 60px;*/
    /*padding-top: 15px;*/
}

.call-to-action>a {
    color: #007bab;
    border: 1px solid #007bab !important;
}


.call-to-action span {
  /*display: inline-block;
  padding: 10px 15px;
  margin: 0.5em;*/
    display: inline-block;
    height: 45px;
}

.sub_dest_button{
    padding: 10px 15px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    text-transform: uppercase;
    color: #388343;
    border: 1px solid #388343;
/*    background-color: #b0281d;
    border: 1px solid #b0281d;*/
}


.sub_dest_button:hover{
    padding: 15px 15px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    text-transform: uppercase;
    background-color: #388343;
    border: 1px solid #388343;
    color: #ffffff;
    text-decoration: underline;
}

.sub_dest_button .active{
    padding: 10px 15px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    text-transform: uppercase;
    background-color: #388343;
    border: 1px solid #388343;
    color: #ffffff;
}

.dest_active{
    padding: 17px 10px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    text-transform: uppercase;
    background-color: #388343;
    border: 1px solid #388343;
    color: #ffffff !important;
}

.main_dest_highlight{
    padding: 10px 15px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    text-transform: uppercase;
    background-color: #388343;
    border: 1px solid #388343;
    color: #ffffff;
}

#contenttabs_ul li{
    list-style-type: disc !important;
    line-height: 18px;
    font-size: 14px;
}

#contenttabs_ul_agency li{
    list-style-type: disc !important;
    line-height: 16px;
}

.contenttabs li{
    list-style: circle;
    line-height: 18px;
    font-size: 14px !important;
    margin: 0 !important;
    font-weight: 500 !important;
    line-height: 14.4px !important;
    color: #1a2d3e !important;
}

.margin-20 {margin-top:20px;}
.margin_top_footer_info {margin-top:75px;}

.bgcontact{
    background:url(../ftp-img/bandeaux/photocontact.jpg) top center fixed transparent;
    height:450px;
}

.destination_product_card {
    margin: 15px auto 0;
    /*margin-left: 33px;*/
}

.mtp {
    margin-top: 16px !important;
    margin: 20px 0 !important;
    color: #000 !important;
}

/*01-08-2022*/

.col-xs-12 {
    font-size: 14px !important;
    margin: 0 !important;
    margin-bottom: 10px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    color: #1a2d3e !important;
}

.contenttabs a.buttonPdf {
    color: #000;
    padding: 5px 10px;
    background: white url(/terre_voyages/static/src/css/../images/icon_pdf.png) no-repeat scroll 17px center;
    text-decoration: none;
    padding-left: 70px;
    display: block;
    line-height: 1;
}
    .contenttabs {font-size :12px; font-family:cabin; margin-bottom:20px;}
    .contenttabs h3{font-size:16px; margin-top:0;}
    .contenttabs h3.leftprice{font-size:17px; margin-top:0;}
    .contenttabs h3.top0{ margin-top : 0; padding-top:0}
    .contenttabs ul{margin-left:25px;}
    
    .contenttabs p{margin: 0 0 10px; text-align:justify}
    .contenttabs a{text-decoration:underline;color:#333}
    .contenttabs a.more {text-decoration:underline; color:#333; text-decoration:none;}
        .contenttabs a.more.backred {background:#b02826; color:white; border:0px; }
    .contenttabs a.buttonPdf span {font-size: 12px;}
    .contenttabs a.buttonPdf:hover { background:#edeae7 url('/terre_voyages/static/src/css/../images/icon_pdf.png') no-repeat scroll 17px center  ;}
    .contenttabs a.buttonPdf {color:#000; padding: 5px 10px; background:white url('/terre_voyages/static/src/css/../images/icon_pdf.png') no-repeat scroll 17px center  ; text-decoration:none; padding-left: 70px;display: block; line-height: 1;}   /*.tabs .menu li a:hover,.tabs .menu li a.active{ font-weight:bold }*/
    
    a.buttonPdf {padding:15px;}
    a.buttonPdf:hover {background: #edeae7}
    a.buttonPdf > b {
        font-size: 16px;
    }
    
    a.buttonPdf > span {
    display: block;
    margin-top: 3px;
    font-size: 14px !important;
    }
